.App {
  text-align: center;
}

* {
  margin: 10;
  padding: 2px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background-color: rgb(121, 119, 119);
  width: 100%;
  height: 100%;
}

#logo-abr {
  float: left;
  color: red;
  border: 1px;
  font-weight: bold;
}

#logo-abr2 {
  font-style: italic;
  font-weight: bold;
}

.main-bar {
  background-color: #dbdbdb;
  margin-top: 7px;
  color: black;
  outline: medium;
  display: flex;
  justify-content: space-between;
}

.channel-property {
  color: black;
  font-style: italic;
}

.result {
  font-size: 16px;
}

.feature {
  font-size: 18px;
  font-weight: 700;
}
